.input {
    display: block;
    width: 100%;
    padding: 20px 20px;
    // background: rgba(254, 254, 254, 0.3);
    background: #FEFEFE;
    border: 1px solid #EAEAEA;

    // border: 1px solid #FF5C00;
    border-radius: 8px;
    &:focus {
        outline: 0;
        border: 1px solid #FF5C00;
    }
}


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    // background: rgba(254, 254, 254, 0.3);
    background: #FEFEFE;
    border: 1px solid #EAEAEA;
    border-radius: 8px;

}