
.exp2{
    flex-direction: row;
     background-color:  #FFF8F5;
     color: #242120;

     .experince-text {
       
        .share {
            color: #FF5C00;
        }

    }

    .experience-image-container {

        .circle {
            background-color: rgba(255, 92, 0, 0.03);
        }

    }

}