.footer{
    background-color: #25201D;
    color: white;
    padding: 0 200px 100px 200px;
    .top{
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: space-evenly;

        .member{
            max-width: 370px;
        }

        img{
            margin-top: -50px;
            width: 350px;
        }
    }

    .bottom{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .social-media{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        ul{
            li{
                list-style: none;
                margin-bottom: 10px;

                &:first-child{
                    font-weight: 900;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 1150px){
    .footer{
        padding: 0 100px 50px 100px; 
        .top{
           
    
            .member{
               margin-top: 20px;
            }
    
            img{
                margin-top: 50px;
                
            }
        }

        .bottom{
            ul{
                li{
                    list-style: none;
                    margin-bottom: 10px;
    
                    &:last-child{
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 950px){
    .footer{
        padding: 0 50px 50px 50px; 
    }
}