.nav {
  padding: 10px 20%;
  border: 1px solid rgba(0, 0, 0, 0.08);

  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.04);
  ul {
    display: flex;
    justify-content: space-between;
    li {
      list-style: none;
      margin-left: 5px;
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 950px){
  .nav{
      display: none;
  }
}
