.exp1 {
    flex-direction: row-reverse;
    background-color: #222222;
    color: white;

    .experince-text {

        .share {
            color: white;
        }

    }

    .experience-image-container {

        .circle {
            background-color: rgba(58, 58, 58, 0.03);
        }

    }

}