.sucess-modal {
    // display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    text-align: center;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 527px;
    padding: 50px;
    z-index: 3;
    -webkit-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.75);
    border-radius: 16px;

    .success-text{
        line-height: 34px;
    }
}

@media screen and (max-width: 950px){
    .sucess-modal {
        width: 90%;

        .success-text{
            line-height: 20px;
        }
    }
}