@import '../../asset/scss/variable.scss';

.hero {
    // height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 150px;

    .hero-text h1 {
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: -0.02em;
        text-align: left;
        margin-bottom: 10px;
    }

    .hero-text p {
        font-family: Inter;
        font-size: 18px;
        line-height: 31px;
        /* or 172% */

        letter-spacing: 0.02em;

        color: #494949;
    }

    .hero-image-container {
        position: relative;

        .circle {
            top: 50px;
            right: -70px;
            position: absolute;
            display: inline-block;
            width: 711px;
            height: 711px;
            border-radius: 50%;
            background: #FFF8F5;
            z-index: -1;
        }
    }
}

@media screen and (max-width: 1050px) {
    .hero {
        overflow: hidden;
        // position: fixed;
        bottom: 0;
        flex-direction: column;
        padding: 100px 10px 0 10px;
        .hero-text{
            margin-bottom: 20px;
        }
        .hero-text h1 {
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            text-align: left;
            margin-bottom: 10px;
            /* or 125% */

            // letter-spacing: -0.02em;
        }
    }
}