.exp-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;
}

.view-all{
    margin-left: 20px;
    // transform: translate(-50%);
    margin-right: auto;
    text-align: center;
    font-size: 19px;
    margin-top: 20px;
    border-bottom: 5px solid #FF5C00;
    padding-bottom: 5px;
    display: inline-block;
    transition: 1s ease;
    &:hover{
        transform: scale(1.2);
    }
}