.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 300px;
    min-width: 250px;
    margin: 0 .5rem 20px .5rem;


    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-position: center;
        background-size: contain;
        margin-bottom: 20px;
    }

    .detail {
        display: flex;

        .location {
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
        }

        .name {
            font-weight: 600;
            font-size: 24px;
        }
    }

    .exp {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
    }
}