.section-paddiing {
    padding: 100px;
}

.mt1{
    margin-top: 10px;
}

.mt2{
    margin-top: 20px;
}

.mb1{
    margin-bottom: 10px;
}

.mb2{
    margin-bottom: 20px;
}

.mr1{
    margin-right: 10px;
}

.mr2{
    margin-right: 20px;
}

.mt-100{
    margin-top: -100px;
}

.bg-white{
    background-color: white;
}

@media screen and (max-width: 950px){
    .foosection-paddiing{
        padding-left: 30px;
        padding-right: 30px;
    }
}


@media screen and (max-width: 550px){
    .section-paddiing{
        padding-left: 10px;
        padding-right: 10px;
    }
}


.experience {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 100px 0px 100px;
    z-index: -2;
    ;


    .experince-text {
        max-width: 450px;

        h1 {
            margin-bottom: 10px;
        }

        .share {
            margin-top: 30px;
            text-transform: uppercase;
            display: block;
            // color: #FF5C00;
            text-decoration: none;
            letter-spacing: 0.2em;
        }

        p {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 150%;
            /* or 27px */

            letter-spacing: 0.02em;
        }

        button {
            margin-bottom: 20px;
        }
    }

    .experience-image-container {
        position: relative;

        .circle {

            right: 0;
            position: absolute;
            display: inline-block;
            width: 700px;
            height: 700px;
            border-radius: 50%;
            z-index: 1;
        }

    }
}

@media screen and (max-width: 1050px) {
    .experience {
        flex-direction: column-reverse;
        padding-bottom: 100px;

        .experience-image-container {

            margin-bottom: 100px;
            .circle {
                top: 100px;
                left: 50%;
                width: 280px;
                height: 280px;
                transform: translate(-50%, -50%);

            }

            .image {
                width: 303px;
                height: 262px;
                margin-top: -20px;
                border-radius: 50%;

                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }

        }
    }


}