.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;

    .header-links-container{
        display: flex;
        align-items: center;
    }
    .logo{
        width: 150px;
        cursor: pointer;

        img{
            width: 100%;
        }
    }

    .header-links{
        display: flex;
        margin-right: 10px;
        
        li{
            cursor: pointer;
            font-size: 13px;
            color: #242120;
            list-style: none;
            margin-left: 20px;
        }
    }
}

@media screen and (max-width: 950px){
    .header{
        display: none;
    }
}